---
layout: archive
title: "Master's Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2>Paper Replication in Python</h2>

<p>This project replicates the first half of the main results from Cengiz, D., Dube, A., Lindner, A., &
Zentler-Munro, D. (2022). Following the authors, I apply machine learning methods to identify the
potencial workers who are actually affected by the minimum wage policy. In contrast to the original
code, which was written in Stata and R, I replicated the study in Python, streamlining all the code
into a single programming language that is both free and open source. </p>

<cite><a href="http://luciagomezll.github.io/files/replication_paper.pdf">Download paper here</a></cite> 

<br/><img src='/images/recall_curve.png'>"
 
<h2> Machine learning in an IV setting using R </h2>

<p> I study the performance of three-based methods (random forest and boosting) in an IV setting
with a binary endogenous explanatory variable. In particular, I apply these machine learning methods to
estimate the returns to college attendance, simulating the data used by Carneiro, Heckman, and Vytlacil
(2011). I use R. </p>

<cite><a href="http://luciagomezll.github.io/files/ML_IV_withR.pdf">Download paper here</a></cite> 

<br/><img src='/images/beta.png'>"

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


